.forgotPassword {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.forgotContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid lightgray;
}

.forgotHeader {
    text-align: center;
    margin-bottom: 20px;
}

.forgotHeader h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.forgotHeader p {
    font-size: 14px;
    color: #777;
    margin-top: 0;
}

.forgotInput {
    height: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 89%;
}

.forgotInput:focus {
    border-color: #0071c2;
    box-shadow: 0 0 4px rgba(0, 113, 194, 0.5);
    outline: none;
}

.forgotButton {
    width: 100%;
    border: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #0071c2, #005fa3);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 15px;
}

.forgotButton:hover {
    transform: translateY(-3px);
    background: linear-gradient(to right, #005fa3, #004080);
    box-shadow: 0 4px 10px rgba(0, 113, 194, 0.4);
}

.forgotButton:active {
    transform: translateY(0);
    box-shadow: none;
}

span {
    font-size: 14px;
    text-align: center;
}

.message {
    color: green;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
