.lContainer{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.lWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.lSearch{
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 6px 4px 11px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 6px 4px 11px 0px rgba(0,0,0,0.15);
    box-shadow: 6px 4px 11px 0px rgba(0,0,0,0.15);
}

.lResult{
    flex: 3;
    background-color: purple;
}

.lTitle{
    font-size: 20px;
    color: rgb(166, 165, 165);;
}