.lContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.lWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.lSearch{
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid lightgray;
    position: sticky;
    top: 20px;
}

.lResult{
    flex: 3;
    background-color: purple;
}

.lTitle{
    font-size: 18px;
    color: #000;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}