.navbar{
    height: 50px;
    background-color: #0d3166;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 600;
    font-size: 25px;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #0d3166;
    font-size: 15px;
}
